*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}
a{
    text-decoration: none;
}
body{
    background-image: url('./assets/hotel.jpg' ) ;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}